In [1]:
import pandas as pd

In [11]:
roll_hist= pd.read_csv("rolledhistory.csv")
print("Basic Description")
roll_hist.describe()

Basic Description

              10         12         15         11
count  59.000000  59.000000  59.000000  59.000000
mean   12.254237  12.457627  11.881356  12.372881
std     2.662597   2.667312   3.189880   2.803313
min     6.000000   8.000000   4.000000   5.000000
25%    10.000000  10.500000  11.000000  11.000000
50%    12.000000  13.000000  12.000000  12.000000
75%    14.000000  15.000000  14.000000  14.000000
max    17.000000  18.000000  17.000000  18.000000