In [1]:
import pandas as pd

In [17]:
roll_hist= pd.read_csv("rolledhistory.csv",header=None)
roll_hist.describe()

               1          2          3        4
count  60.000000  60.000000  60.000000  60.0000
mean   12.216667  12.450000  11.933333  12.3500
std     2.655928   2.645271   3.188255   2.7851
min     6.000000   8.000000   4.000000   5.0000
25%    10.000000  10.750000  11.000000  11.0000
50%    12.000000  12.500000  12.000000  12.0000
75%    14.000000  15.000000  14.000000  14.0000
max    17.000000  18.000000  17.000000  18.0000